<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>MainController</servlet-name>
        <servlet-class>controllers.MainController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginController</servlet-name>
        <servlet-class>controllers.userController.LoginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutController</servlet-name>
        <servlet-class>controllers.userController.LogoutController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateBlogController</servlet-name>
        <servlet-class>controllers.blog.UpdateBlogController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteBlogController</servlet-name>
        <servlet-class>controllers.blog.DeleteBlogController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SignupController</servlet-name>
        <servlet-class>controllers.userController.SignupController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddStaffController</servlet-name>
        <servlet-class>controllers.userController.AddStaffController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteStaffController</servlet-name>
        <servlet-class>controllers.userController.DeleteStaffController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateStaffController</servlet-name>
        <servlet-class>controllers.userController.UpdateStaffController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoadStaffController</servlet-name>
        <servlet-class>controllers.userController.LoadStaffController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SortCourseController</servlet-name>
        <servlet-class>controllers.course.SortCourseController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FilterByLevelController</servlet-name>
        <servlet-class>controllers.course.filter.FilterByLevelController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FilterByType</servlet-name>
        <servlet-class>controllers.course.filter.FilterByType</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FilterByPrice</servlet-name>
        <servlet-class>controllers.course.filter.FilterByPrice</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RemoveCartController</servlet-name>
        <servlet-class>controllers.course.RemoveCartController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>MainController</servlet-name>
        <url-pattern>/MainController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginController</servlet-name>
        <url-pattern>/LoginController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutController</servlet-name>
        <url-pattern>/LogoutController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateBlogController</servlet-name>
        <url-pattern>/UpdateBlogController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteBlogController</servlet-name>
        <url-pattern>/DeleteBlogController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SignupController</servlet-name>
        <url-pattern>/SignupController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddStaffController</servlet-name>
        <url-pattern>/AddStaffController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteStaffController</servlet-name>
        <url-pattern>/DeleteStaffController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateStaffController</servlet-name>
        <url-pattern>/UpdateStaffController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoadStaffController</servlet-name>
        <url-pattern>/LoadStaffController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SortCourseController</servlet-name>
        <url-pattern>/SortCourseController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FilterByLevelController</servlet-name>
        <url-pattern>/FilterByLevelController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FilterByType</servlet-name>
        <url-pattern>/FilterByType</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FilterByPrice</servlet-name>
        <url-pattern>/FilterByPrice</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RemoveCartController</servlet-name>
        <url-pattern>/RemoveCartController</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
